<div class="ui container" id="cause">

  <h2>I care about... </h2>

  <div class="ui selection dropdown">
    <div class="text">Cause</div><i class="dropdown icon"></i>
    <div class="menu transition hidden">
      <div data-value="{{ cause.id }}" class="item" ng-repeat="cause in vm.causes">

        <a ui-sref="causes.show({causeId: cause.id})">{{ cause.attributes.name }}</a>

      </div>
    </div>
  </div>

  <div ng-repeat="cause in vm.causes">

    <a ui-sref="causes.show({id: cause.id})">{{ cause.attributes.name }}</a>

  </div>

  <br><br>

  <ui-view></ui-view>

</div>

<script type="text/javascript">
  $('.ui.dropdown')
    .dropdown()
  ;
</script>
