<div class="ui container" id="cause">

  <h3>Available Volunteering Opportunities</h3>
  <div class="ui large button">
    <div ui-sref="causes.new({ id: vm.cause.id })">
      Create an Opportunity
    </div>
  </div>

  <span>
    <select ng-model="orderList" class="ui dropdown" id="select">
      <option class="default text" value="">Relevance</option>
      <option value="-attributes['created-at']">Recently Added</option>
      <option value="attributes.end">Ending Soon</option>
    </select>
  </span>

  <br><br>

  <div class="ui stackable three column grid">
    <div class="column" ng-repeat="event in vm.events | orderBy: orderList">

      <div class="ui card">

        <div class="content">
          <div class="header">{{ event.attributes.title }}</div>
        </div><!-- header -->

        <div class="content">
          <h4 class="ui sub header">
            Organization:<br>
            {{ event.attributes.organization }}
          </h4>
          <div class="ui small feed">
            <div class="event">
              <div class="content">
                <div class="summary">
                  Start Date: {{ event.attributes.start | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}
                  <br>
                  End Date: {{ event.attributes.end | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}
                  <br>
                  Location: {{ event.attributes.address }}
                </div>
              </div>
            </div>
          </div>
        </div><!-- content -->

        <div class="ui bottom attached button">
          <div ui-sref="causes.event({ causeId: event.relationships.cause.data.id, eventId: event.id })">Learn More</div>
        </div><!-- button -->

      </div><!-- card -->
    </div><!-- column -->
  </div><!-- grid -->

</div><!-- container -->

<script type="text/javascript">
  $('.ui.dropdown')
    .dropdown()
  ;
</script>
