<div class="ui vertical center aligned container" id="home">
  <center><img src="liberty.png" alt="UponNYC Liberty" style="width: 10%; height: 10%"/></center>
  <h1>UponNYC</h1>
  <h2>
    Search volunteering opportunities, lend a hand and make a difference today.
  </h2>
  <p>
    New York City is home to one of the world's most largest and diverse urban populations. The goal is to provide an easy tool to bring people together and build empowering communities. If each individual provides even the smallest effort, the entire community will thrive as a whole. Meet new friends, join fascinating communities, and make a positive impact.
  </p>
  <br>
  <button class="ui huge button" ng-click="go('/causes')">Get Started</button>
</div>
