#cause {
  margin-top: 50px;
  margin-bottom: 100px;
  h2 {
    display: inline;
  }
  span {
    float: right;
  }
  .ui.selection.dropdown {
    margin-right: 66px;
  }
}

@media screen and (max-width: 1200px) {
  #cause {
    .ui.selection.dropdown {
      margin-right: 0px;
    }
  }
}
