#event {
  margin-top: 50px;
  margin-bottom: 100px;
  .ui.card {
    width: 60%;
    margin: auto;
  }
  h2 {
    display: inline;
  }
  #new-form {
    width: 65%;
    margin: auto;
  }
  #text-field {
    margin-left: 25px;
    margin-right: 25px;
  }
  #start-date-field {
    margin-left: 25px;
  }
  #end-date-field {
    margin-right: 25px;
  }
  .form-header {
    text-align: center;
    margin: 20px;
  }
}

#new-form .ui.button {
  width: 100%;
}

@media screen and (max-width: 800px) {
  #event {
    .ui.card {
      margin: 0;
      width: 100%;
    }
    #start-date-field {
      margin-right: 25px;
      margin-left: 25px;
    }
    #end-date-field {
      margin-right: 25px;
      margin-left: 25px;
    }
  }
}
