$header-font-style: 'Roboto', Helvetica, Arial, sans-serif;
$body-font-style: 'Open Sans', Arial, sans-serif;

%custom-header {
  font-family: $header-font-style;
  font-weight: bold;
  letter-spacing: 0.5px;
}

h1 {
  @extend %custom-header;
  font-size: 80px;
}

h2 {
  @extend %custom-header;
  font-size: 26px;
}

h3 {
  @extend %custom-header;
  font-size: 20px;
}

body {
  font-family: $body-font-style;
  font-size: 17px;
  height: auto !important;
  letter-spacing: 0.25px;
  background-color: #fdf6e3;
}

footer {
  font-family: $body-font-style;
  font-size: 10px;
  letter-spacing: 0.5px;
  text-align: center;
  right: 0;
  bottom: 0;
  left: 0;
  padding-bottom: 10px;
}

.ui.button {
  font-family: $body-font-style;
  background: #ffbb93;
}

.ui.form {
  font-family: $body-font-style;
}
