<footer>
  <p><a href="http://rubyonrails.org/" target="_blank">Rails</a> + <a href="https://angularjs.org/" target="_blank">Angular 1.5</a>, by <a href="https://evanscloud.github.io" target="_blank">Evan Ng</a> with help from <a href="https://www.volunteermatch.org/" target="_blank">VolunteerMatch.org</a> | <a href="https://github.com/evanscloud/uponnyc" target="_blank">GitHub Repo <i class="github icon"></i></a></p>
</footer>
